.slideSection{
    max-width: 1280px;
    margin: auto;
    padding: 60px 0 80px;
}

.slideTopDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    
    .slideTitle{
        font-weight: normal;
        letter-spacing: .4px;
        text-transform: uppercase;
    }

    .seeAll{
        font-size: 18px;
        color: var(--text-color-secondary);
        transition: .3s;

        &:hover{
            color: var(--text-color-primary);
        }
    }
}