.movieDetails{
    color: var(--text-color-main);
}

.movieDetailsDiv{
    display: flex;
    gap: 28px;
    padding-top: 20px;
    letter-spacing: .4px;
}

.posterDiv{
    min-width: 280px;
    max-width: 280px;
    margin-bottom: 8px;
}

.detailsTitle{
    font-size: 28px;
}

.flexDiv{
    display: flex;
    gap: 20px;
    
    span{
        font-size: 14px;
        color: var(--text-color-gray-main);
    }
}

.genre{
    font-size: 14px;
    padding: 4px 0 8px;
    font-weight: 300;
    color: var(--text-color-secondary);
}

.secondary{
    padding: 16px 0 8px;
    text-transform: capitalize;
    font-weight: normal;
    color: var(--text-color-gray-main);
}

.about{
    font-weight: 300;
    width: 90%;
}

.buttonsDiv{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 12px;
}

.rating{
    display: flex;
    gap: 4px;
    color: var(--text-color-main);
    padding-bottom: 8px;
    font-size: 15px;
}

.starIcon{
    font-size: 18px !important;
    color: var(--buttons-color);
}

.hiddenOverview,
.bottomTable{
    display: none;
}


@media screen and (max-width: 1040px) {
    .movieDetailsDiv{
        gap: 12px;
    }
    .posterDiv{
        min-width: 240px;
        max-width: 240px;
    }
    .detailsTitle{
        font-size: 24px;
    }
}

@media screen and (max-width: 740px) {
    .logoImage{
        max-width: 160px;
    }
    .tableDiv,
    .bottomOverview{
        display: none;
    }
    .hiddenOverview,
    .bottomTable{
        display: block;
        font-size: 14px;
    }
    .buttonsDiv{
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width: 540px) {
    .movieDetailsDiv{
        display: block;
    }
    .tableDiv,
    .bottomOverview{
        display: block;
        font-size: 14px;
    }
    .hiddenOverview,
    .bottomTable{
        display: none;
    }
    .about{
        width: 100%;
    }
    .buttonsDiv{
        flex-direction: row;
        align-items: center;
    }
}