.privacyContainer{
    letter-spacing: .4px;
    line-height: 1.5;
    color: var(--text-color-gray);
}

.privacyDiv{
    h3{
        color: var(--text-color-primary);
        padding-top: 12px;
        font-weight: normal;
    }
    ul{
        padding-left: 20px;
    }
    li{
        list-style: disc;
        width: 80%;
    }
    li::marker{
        font-size: 18px;
        color: var(--text-color-secondary);
    }
}

.mainText{
    color: var(--text-color-primary);
}


@media screen and (max-width: 1040px) {
    .mainText{
        font-weight: 300;
    }
    .privacyDivli{
        font-size: 14px;
    }
}

@media screen and (max-width: 740px) {
    .privacyDiv {
        h3{
            font-weight: 300;
        }
        li{
            width: 100%;
        }
    }
}