.castCard {
    min-height: 336px;
    max-height: 336px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 4px var(--bg-color-main);
    
}

.actorImageDiv{
    min-height: 336px;
    background-color: var(--bg-color-options);

    img {
        height: 100%;
    }
}

.castTitleDiv{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    
    h3{
        font-weight: 300;
    }

    .department{
        font-size: 14px;
        color: var(--text-color-gray);
    }
}