.libraryContainer{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    min-height: 60vh;
    padding: 40px 0;
}

.emptyLibrary{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: .4px;
}

.block{
    padding: 0 20px;
}

.blockTitle{
    font-weight: 300;
    padding-top: 20px;
}

.clearBtnDiv{
    text-align: center;
    padding: 12px 0 40px;
}


@media screen and (max-width: 740px) {
    .libraryContainer{
        padding: 12px 0;
    }
    .emptyLibrary{
        font-size: 16px;
    }
    .block{
        padding: 0 12px;
    }
    .blockTitle{
        font-size: 16px;
    }
}

@media screen and (max-width: 540px) {
    .emptyLibrary{
        font-size: 14px;
    }
}