.actorsSlide{
    max-width: 1240px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    gap: 40px;
    align-items: center;
    color: var(--text-color-primary);

    img{
        min-width: 320px;
        max-width: 320px;
        min-height: 440px;
        max-height: 440px;
    }

    h2{
        font-size: 44px;
    }
}

.biography{
    width: 70%;
    letter-spacing: .4px;
    padding-bottom: 16px;
}

.buttonsDiv{
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating{
    display: flex;
    gap: 4px;
    color: var(--text-color-primary);
    padding-bottom: 8px;
    font-size: 15px;
}