.navigation{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-color-secondary);
}

.navContainer{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
}

.logoDiv{
    display: flex;
    align-items: center;
    gap: 8px;
}

.pageName{
    font-size: 24px;
    color: var(--text-color-primary);
}

.logo{
    min-width: 48px;
}

.navMenu{
    display: flex;
    gap: 40px;
}

.navButtonsDiv{
    display: flex;
    align-items: center;
    gap: 12px;
}

.themeBtn{
    background: none;
    border: none;
    border-radius: 20px;
    font-size: 0;
    cursor: pointer;
}