.navigation{
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 4px 0;
    background-color: var(--bg-color-secondary);
    border-bottom: 1px solid var(--text-color-secondary);
}

.navContainer{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    cursor: pointer;
}

.logoDiv{
    display: flex;
}

.logo{
    max-width: 90px;
}

.navMenu{
    display: flex;
    align-items: center;
    gap: 32px;
}
    
.navContainer a{
    display: block;
    transition: .3s;

    &:hover{
        color: var(--text-color-secondary);
    }
}

.searchandButtons, 
.navButtonsDiv{
    display: flex;
    align-items: center;
    gap: 8px;
}

.themeBtn{
    font-size: 20px;
}

.profileBtn{
    font-size: 20px;
    transition: .3s;

    &:hover {
        color: var(--buttons-color);
    }
}


/* ********************************************** */


@media screen and (max-width: 1040px) {
    navContainer{
        justify-content: end;
    }

    .navMenu{
        display: none;
    }

}

@media screen and (max-width: 740px) {
    .navButtonsDiv{
        display: none;
    }
    
    .logo{
        max-width: 70px;
    }
}

@media screen and (max-width: 540px) {
    .searchDiv{
        display: none;
    }
}