.howContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.howTitle{
    width: 100%;
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 12px;
}

.howBox{
    letter-spacing: .4px;

    span{
        font-size: 48px;
        font-weight: 600;
        background-image: linear-gradient(to right, #FF5690, #E13C52);
        background-clip: text;
        color: transparent;
    }

    h3{
        font-size: 20px;
        font-weight: normal;
        padding: 8px 0;
    }

    p{
        line-height: 1.5;
        color: var(--text-color-gray);
    }
}


@media screen and (max-width: 740px) {
    .howTitle{
        font-size: 22px;
        padding-bottom: 8px;
    }
    .howBox{
        width: 80%;

        span{
            font-size: 36px;
        }
        h3{
            font-size: 16px;
            padding: 4px 0;
        }
        p{
            font-size: 14px;
        }
    }

    .howContainer{
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
}

@media screen and (max-width: 540px) {
    .howBox{
        width: 100%;
    }
}