.resultList{
    border: 1px solid var(--text-color-gray);
}

.listTitle{
    padding: 8px 8px 0;
    text-align: center;
    letter-spacing: .4px;
}

.seriaListItem{
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .3s;
    padding: 8px;
    letter-spacing: .4px;
    border-bottom: 1px solid #444;

    &:hover{
        color: var(--text-color-secondary);
    }

    img{
        width: 120px;
        height: 75px;
    }
}

.rating{
    display: flex;
    gap: 4px;
    font-size: 14px;
    padding-top: 2px;
    color: var(--text-color-primary);
}

.starIcon{
    font-size: 18px !important;
    color: var(--buttons-color);
}

.date{
    font-size: 12px;
    color: var(--text-color-gray);
}

.seeResults{
    text-align: end;
    transition: .3s;
    
    &:hover{
        color: var(--text-color-secondary);
    }
    
    a{
        display: inline-block;
        width: 100%;
        letter-spacing: .4px;
        font-weight: 300;
        padding: 8px;
    }
}

.hideDiv{
    display: none;
}