.seraTable td{
    color: var(--text-color-main);
}

.seraTable .key{
    color: var(--text-color-gray-main);
    padding: 2px 40px 2px 0;
    vertical-align: top;
}


@media screen and (max-width: 1040px) {
    .seraTable td{
        font-size: 14px;
    }
    .seraTable .key{
        padding: 2px 20px 2px 0;
    }
}