.accordionsSection{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 28px;
}

.accordion {
    min-width: 100%;
    background-color: var(--bg-color-options) !important;
    border: 1px solid var(--text-color-gray);
    border-radius: 8px !important;
    margin-bottom: 28px;
}

.summary{
    height: 60px;
    font-size: 18px;
    color: var(--text-color-primary) !important;
}

.details{
    line-height: 1.5;
    letter-spacing: .4px;
    padding-top: 16px !important;
    color: var(--text-color-gray) !important;
    border-top: 1px solid var(--text-color-gray);
}

.accordionIcon{
    color: var(--text-color-primary);
}


@media screen and (max-width: 1040px) {
    .accordionsSection{
        gap: 12px;
    }
    .accordion{
        margin-bottom: 12px;
    }
    .summary{
        font-size: 16px;
    }
    .details{
        font-size: 14px;
    }
}

@media screen and (max-width: 740px) {
    .accordionsSection{
        display: block;
    }
}