
.moreBtn{
    all: unset;
    font-size: 16px;
    background: none;
    border: none;
    color: var(--text-color-primary);
    transition: .3s;

    &:hover{
        color: var(--text-color-secondary);
    }
}


.morePagesList {
    width: 180px;
    position: absolute;
    top: 64px;
    padding: 8px;
    background: var(--bg-color-options);
    border-top: 2px solid var(--text-color-secondary);

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    pointer-events: none;

    li{
        font-size: 14px;
        font-weight: 300;
        letter-spacing: .4px;
        transition: .3s;
    }
    
    li:hover{
        color: var(--text-color-secondary);
    }
    
    a{
        width: 100%;
        padding: 6px 0;
        display: inline-block;
    }
}

.show {
    max-height: 500px; 
    opacity: 1;
    pointer-events: auto;
}
