.header{
    background-image: url(../../assets/images/onair-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    margin-bottom: 80px;
} 

.headerContainer{
    max-width: 1240px;
    min-height: 580px;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerTitleDiv{
    width: 420px;
    color: var(--text-color-main);
}

.headerTitle{
    font-size: 48px;
}

.headerText{
    padding: 8px 0 16px;
    font-weight: 300;
    letter-spacing: .4px;
    line-height: 1.4;
}