.swiper-pagination-movies, .swiper-pagination-actors,
.swiper-pagination-cast, .swiper-pagination-knownFor {
    position: relative;
    margin-top: 28px;
    text-align: center;
}

.swiper-pagination-movies .swiper-pagination-bullet,
.swiper-pagination-actors .swiper-pagination-bullet,
.swiper-pagination-cast .swiper-pagination-bullet,
.swiper-pagination-knownFor .swiper-pagination-bullet {
    margin: 0 4px;
    background: var(--text-color-gray);
    opacity: 0.6;
    transition: 0.3s;
}

.swiper-pagination-movies .swiper-pagination-bullet-active,
.swiper-pagination-actors .swiper-pagination-bullet-active,
.swiper-pagination-cast .swiper-pagination-bullet-active,
.swiper-pagination-knownFor .swiper-pagination-bullet-active {
    background: #E13C52; 
    opacity: 1;
} 


/* ********************************************************** */

.MuiOutlinedInput-root {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    color: var(--text-color-primary) !important;
    background-color: var(--bg-color-options);
    transition: 0.3s ease;
}

.Mui-focused .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 1px solid var(--text-color-secondary) !important;
}

.MuiInputLabel-root {
    color: #777 !important;
}

.MuiInputLabel-root.Mui-focused {
    color: var(--text-color-secondary) !important;
}

.MuiList-root {
    padding: 8px 0;
    border: 1px solid var(--text-color-gray);
    background-color: var(--bg-color-options);
}

.MuiMenuItem-root {
    font-size: 14px !important;
    color: var(--text-color-primary) !important;
    transition: .3s;
}

.MuiMenuItem-root:hover {
    color: var(--text-color-secondary) !important;
}

.MuiSelect-iconOutlined {
    color: var(--text-color-secondary) !important;
}

/* *************************************************** */

.gridDiv{
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    padding: 20px 0 60px;
}

.sectionHeader{
    height: 280px;
    background-image: url(.././assets/images/section-bg.jpg);
    background-size: cover;
    background-position: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--text-color-secondary);
}

.sectionTitle{
    font-size: 48px;
    padding-left: 150px;
    font-weight: normal;
    color: var(--text-color-main);
}

.featuresSec{
    max-width: 1280px;
    margin: auto;
    padding-bottom: 80px;

    h2{
        font-weight: normal;
        letter-spacing: .4px;
    }
}

/* ******************************************** */

.tabItem {
    font-size: 16px !important;
    color: var(--text-color-primary) !important;
    transition: .2s;
}

.tabItem.Mui-selected {
    color: var(--text-color-secondary) !important;
}

.tabItem:hover {
    color: var(--text-color-secondary) !important;
}

.MuiTabs-indicator {
    background-color: var(--text-color-secondary) !important;
}