.mainBtn{
    width: 180px;
    height: 40px;
    background: var(--buttons-color);
    border: none;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .4px;
    cursor: pointer;
    transition: .3s linear;
    color: var(--text-color-main);
    
    &:hover{
        color: #000000;
    }
}