.resultList{
    position: absolute;
    z-index: 10;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-options);
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid var(--text-color-gray);
}

.movieListItem{
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .3s;
    border-bottom: 1px solid var(--text-color-gray);
    padding: 8px;
    letter-spacing: .4px;

    &:hover{
        color: var(--text-color-secondary);
    }

    img{
        width: 120px;
        height: 75px;
    }
}

.notFound{
    position: absolute;
    z-index: 10;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    background-color: var(--bg-color-options);
    border: 1px solid var(--text-color-gray);
}

.date{
    font-size: 12px;
    color: var(--text-color-gray);
}