.episodeDiv{
    display: flex;
    gap: 20px;
    position: relative;
    color: var(--text-color-main);
}

.posterDiv{
    min-width: 300px;
    max-width: 300px;
    min-height: 140px;
    display: grid;
    place-content: center;
    background-color: var(--bg-color-options);

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.movieIcon{
    font-size: 60px;
}

.episodeInfo{
    letter-spacing: .4px;
    font-weight: 300;

    p, span{
        padding: 4px 0;
    }

    h2{
        font-weight: 300;
    }
}

.episodeNum{
    color: var(--text-color-secondary);
}

.flexDiv{
    display: flex;
    gap: 20px;

    span{
        font-size: 14px;
        color: var(--text-color-gray-main);
    }
}

.about{
    width: 80%;
}

.hiddenAbout{
    display: none;
}

.rating{
    display: flex;
    gap: 4px;
    color: var(--text-color-main);
    font-size: 15px;
}

.starIcon{
    font-size: 18px !important;
    color: var(--buttons-color);
}


@media screen and (max-width: 740px) {
    .posterDiv{
        min-width: 240px;
        max-width: 240px;
        width: 240px;
    }
    .episodeInfo h2{
        font-size: 20px;
    }
    .about{
        display: none;
    }
    .hiddenAbout{
        display: block;
        width: 100%;
        font-size: 14px;
        padding-top: 12px;
        letter-spacing: .4px;
        font-weight: 300;
        color: var(--text-color-main);
    }
}

@media screen and (max-width: 540px) {
    .episodeDiv{
        display: block;
    }
    .hiddenAbout{
        padding-top: 0;
    }
    .episodeInfo{
        padding-top: 8px;

        h2{
            font-size: 18px;
        }
    }
    .episodeNum{
        font-size: 14px;
    }
}