.episodeDiv{
    display: flex;
    gap: 20px;
    position: relative;
    color: var(--text-color-main);
}

.posterDiv{
    min-width: 300px;
    min-height: 180px;
    display: grid;
    place-content: center;
    background-color: #282828;
}

.movieIcon{
    font-size: 60px;
}

.episodeInfo{
    letter-spacing: .4px;
    font-weight: 300;

    p, span{
        padding: 4px 0;
    }

    h2{
        font-weight: 300;
    }
}

.episodeNum{
    color: var(--text-color-secondary);
}

.flexDiv{
    display: flex;
    gap: 20px;

    span{
        font-size: 14px;
        color: var(--text-color-gray-main);
    }
}

.about{
    width: 70%;
}


.rating{
    display: flex;
    gap: 4px;
    color: var(--text-color-main);
    font-size: 15px;
}

.starIcon{
    font-size: 18px !important;
    color: var(--buttons-color);
}