.libraryBtn,
.libraryBtnLight,
.libraryBtnLight2{
    width: 180px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #f87719;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .4px;
    background-color: var(--bg-color-primary);
    color: var(--text-color-main);
    cursor: pointer;
    transition: .3s;

    &:hover{
        color: var(--text-color-secondary);
    }
}

.libraryBtnLight{
    background: var(--bg-color-primary);
}

.libraryBtnLight2{
    color: #000000;
}

