.libraryHeader{
    color: var(--text-color-main);
    margin-bottom: 40px;
    background-image: url(../../assets/images/library-desktop.png);
    background-size: cover;
}

.libraryContainer{
    max-width: 1240px;
    height: 540px;
    margin: auto;
    display: flex;
    align-items: center;
}

.libraryTitle{
    width: 340px;
    font-size: 52px;
}

.libraryText{
    width: 440px;
    padding: 8px 0 16px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .4px;
    line-height: 1.4;
}