.libraryHeader{
    background-color: #000000;
    color: var(--text-color-main);
    margin-bottom: 40px;
}

.libraryContainer{
    max-width: 1240px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.libraryImg img{
    height: 480px;
    display: block;
}

.libraryText{
    width: 440px;
}

.libraryTitle{
    width: 300px;
    font-size: 52px;
}

.libraryText{
    padding: 8px 0 16px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .4px;
    line-height: 1.4;
}