.featuresContainer{
    max-width: 1280px;
    margin: auto;
    font-weight: normal;
    letter-spacing: .4px;
    line-height: 1.5;
}

.featuresText{
    font-size: 18px;
    padding: 8px 0 28px;
    color: var(--text-color-gray);
}


.svgsDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.featureBox{
    display: flex;
    align-items: flex-start;
    gap: 20px;

    h3{
        font-size: 20px;
        font-weight: normal;
        letter-spacing: .4px;
    }

    p{
        padding-top: 8px;
        color: var(--text-color-gray);
    }
}