footer{
    background-color: rgb(0,0,0,0.2);
    border-top: 1px solid var(--text-color-secondary);
}

.footerContainer{
    max-width: 1240px;
    margin: auto;
    text-align: center;
    padding: 60px 0;
}

.footerText{
    color: var(--text-color-primary);
    font-weight: 300;
    letter-spacing: .6px;
}