.detailsSection{
    position: relative;
    padding-bottom: 40px;
}

.detailsSection::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.detailsSection > * {
    position: relative;
    z-index: 1;
}

.slideTopDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 20px;
    position: relative;
}

.slideTitle{
    font-weight: normal;
    letter-spacing: .4px;
    color: var(--text-color-gray-main);
}

.seeAll{
    font-size: 18px;
    color: var(--text-color-secondary);
    transition: .3s;

    &:hover{
        color: var(--text-color-primary);
    }
}


@media screen and (max-width: 540px) {
    .seeAll{
        font-size: 16px;
    }
}