.detailsSection{
    padding-top: 20px;
}

.movieDetailsDiv{
    display: flex;
    gap: 28px;
    padding-bottom: 20px;
    letter-spacing: .4px;
}

.detailsTitle{
    font-size: 28px;
}

.posterDiv{
    min-width: 300px;
    max-width: 300px;
}

.secondary{
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--text-color-gray);
}

.about{
    font-weight: 300;
    padding-bottom: 16px;
}

.buttonsDiv{
    display: flex;
    align-items: center;
    gap: 8px;
}

.genre{
    font-size: 14px;
    padding-bottom: 4px;
    font-weight: 300;
    color: var(--text-color-secondary);
}

.rating{
    display: flex;
    gap: 4px;
    color: var(--text-color-primary);
    padding-bottom: 8px;
    font-size: 15px;
}

.starIcon{
    font-size: 18px !important;
    color: var(--buttons-color);
}