.searchDiv{
    position: relative;
    margin-right: 12px;
    border-radius: 8px;
    background-color: var(--bg-color-options);
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.searchInput{
    width: 340px;
    height: 36px;
    outline: none;
    font-size: 16px;
    padding-left: 8px;
    border-radius: 8px;
    border: none;
    background: none;
    color: var(--text-color-primary);
    letter-spacing: .4px;
}

.resultsDiv{
    width: 500px;
    position: absolute;
    top: 51px;
    z-index: 5;
    max-height: 500px;
    overflow-y: auto;
    background-color: var(--bg-color-options);
}


.resultsDiv::-webkit-scrollbar {
    width: 8px; 
}

.resultsDiv::-webkit-scrollbar-track {
    background-color: var(--text-color-gray);
}

.resultsDiv::-webkit-scrollbar-thumb {
    background-color: var(--buttons-color);
    border-radius: 20px;
    cursor: pointer;
}

.resultsDiv::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-secondary);
}

.notFound{
    padding: 8px;
    font-size: 14px;
    letter-spacing: .4px;
    border: 1px solid var(--text-color-gray);
}

.resetIcon{
    color: var(--text-color-gray);
    transition: .3s;

    &:hover{
        color: var(--text-color-primary);
    }
}

.hideDiv{
    display: none;
}


@media screen and (max-width: 740px) {
    .searchInput{
        width: 260px;
        height: 32px;
    }
    .resultsDiv{
        width: 360px;
    }
}

@media screen and (max-width: 540px) {
    .searchDiv, .searchInput{
        width: 100%;
    }
    .searchDiv{
        background-color: rgb(0,0,0,0.2);
    }
    .resultsDiv{
        width: 100%;
        top: 40px;
    }
}