.resultList{
    position: absolute;
    z-index: 10;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-options);
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid var(--text-color-gray);
}

.resultList::-webkit-scrollbar {
    width: 8px; 
}

.resultList::-webkit-scrollbar-track {
    background-color: var(--text-color-gray);
    border-radius: 12px;
}

.resultList::-webkit-scrollbar-thumb {
    background-color: var(--buttons-color);
    border-radius: 12px;
    cursor: pointer;
}

.resultList::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-secondary);
}

.actorListItem{
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .3s;
    border-bottom: 1px solid var(--text-color-gray);
    padding: 8px;
    letter-spacing: .4px;

    &:hover{
        color: var(--text-color-secondary);
    }

    img{
        width: 70px;
        height: 100px;
    }

    .department{
        padding: 4px 0;
        font-size: 14px;
        color: var(--text-color-gray);
    }
}

.notFound{
    position: absolute;
    z-index: 10;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    background-color: var(--bg-color-options);
    border: 1px solid var(--text-color-gray);
}

.rating{
    display: flex;
    gap: 4px;
    font-size: 14px;
    padding-top: 2px;
    color: var(--text-color-primary);
}