.resultList{
    border: 1px solid var(--text-color-gray);
}

.listTitle{
    padding: 8px 8px 0;
    text-align: center;
    letter-spacing: .4px;
}

.actorListItem{
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .3s;
    border-bottom: 1px solid #444;
    padding: 8px;
    letter-spacing: .4px;

    &:hover{
        color: var(--text-color-secondary);
    }

    .department{
        padding: 4px 0;
        font-size: 14px;
        color: var(--text-color-gray);
    }
}


.imageDiv{
    width: 60px;
    height: 90px;
    display: grid;
    place-content: center;
    background-color: var(--bg-color);
    
    img{
        width: 100%;
        height: 100%;
    }

    .movieIcon{
        font-size: 48px;
    }
}

.rating{
    display: flex;
    gap: 4px;
    font-size: 14px;
    padding-top: 2px;
    color: var(--text-color-primary);
}

.starIcon{
    font-size: 18px !important;
    color: var(--buttons-color);
}

.seeResults{
    text-align: end;
    transition: .3s;
    
    &:hover{
        color: var(--text-color-secondary);
    }
    
    a{
        display: inline-block;
        width: 100%;
        letter-spacing: .4px;
        font-weight: 300;
        padding: 8px;
    }
}

.hideDiv{
    display: none;
}