@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul, li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    color: var(--text-color-primary);
    background-image: var(--background-image);
    background-size: cover;
    background-position:  0 0 ;    
    font-family: 'Roboto', sans-serif;
}

.active {
    background-color: var(--buttons-color);
}

.container{
    max-width: 1280px;
    min-height: 100vh;
    margin: auto;
    padding-bottom: 60px;
}

.loading, 
.notFound{
    color: var(--text-color-primary);
    text-align: center;
    letter-spacing: .4px;
    padding: 20px 0;
}


:root {
    --text-color-main: #ffffff;
    --text-color-primary: #ffffff;
    --text-color-secondary: #FF5690;
    --text-color-gray: #b7b7b7;
    --bg-color: #111111;
    --bg-color-main: #111111;
    --bg-color-secondary: #000000;
    --bg-color-options: #282828;
    --buttons-color: #E13C52; 
    --background-image: url(./assets/images/bg-img.png);
}

[data-theme="light"] {
    --text-color-primary: #000000;
    --text-color-secondary: #FF5690;
    --text-color-gray: #666666;
    --bg-color: #ffffff;
    --bg-color-secondary: #ffffff;
    --bg-color-options: #e5e5e5;
    --buttons-color: #E13C52;
    --background-image: none;
}