.seriaDetails{
    max-width: 1280px;
    margin: auto;
}

.seriaDetailsDiv{
    display: flex;
    gap: 28px;
    padding-top: 20px;
    letter-spacing: .4px;
    position: relative;
}

.posterDiv{
    min-width: 280px;
    max-width: 280px;
}

.detailsTitle{
    font-size: 28px;
}

.flexDiv{
    display: flex;
    gap: 20px;
    
    span{
        font-size: 14px;
        color: var(--text-color-gray);
    }
}

.genre{
    font-size: 14px;
    padding: 4px 0 8px;
    font-weight: 300;
    color: var(--text-color-secondary);
}

.secondary{
    padding: 16px 0 8px;
    text-transform: capitalize;
    font-weight: normal;
    color: var(--text-color-gray);
}

.about{
    font-weight: 300;
    padding-bottom: 16px;
    width: 80%;
}

.buttonsDiv{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 12px;
}

.rating{
    display: flex;
    gap: 4px;
    color: var(--text-color-primary);
    padding-bottom: 8px;
    font-size: 15px;
}

.starIcon{
    font-size: 18px !important;
    color: var(--buttons-color);
}