.moviesSlideDiv{
    max-width: 1280px;
    margin: auto;
    padding: 20px 0;
    color: var(--text-color-primary);
}

.moviesSlide{
    display: flex;
    gap: 40px;
    align-items: center;

    img{
        min-width: 320px;
        max-width: 320px;
        min-height: 440px;
        max-height: 440px;
    }

    h2{
        font-size: 44px;
    }

}

.owerview{
    width: 70%;
    letter-spacing: .4px;
    padding-bottom: 16px;
}

.buttonsDiv{
    display: flex;
    align-items: center;
    gap: 8px;
}
